@charset "UTF-8";

@font-face {
	font-family: "Cobol";
	src: url(Cobol.otf);
}

@font-face {
	font-family: "Cobol-bold";
	src: url(Cobol-Bold.otf);
}

body {
	width: 100%;
	margin: auto;
	font-family: "Cobol";
}

h1 {
	font-family: "Cobol-Bold", Helvetica, Arial, sans-serif;
}

h2{
	font-family: "Cobol-Bold", Helvetica, Arial, sans-serif;
}

.contactList{
	list-style-type:none;
}

.picto {
	text-align: center;
	padding-bottom: 8%;
}

.block {
	margin-top: 30px;
	max-width: 30%;
	margin-left: 3%;
}

.btn {
	background-color: #005F82;
}

.logo {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 200px;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}