@charset "UTF-8";

@font-face {
	font-family: "Cobol";
	src: url(Cobol.otf);
}

@font-face {
	font-family: "Cobol-bold";
	src: url(Cobol-Bold.otf);
}

body {
	width: 100%;
	margin: auto;
}

h1 {
	font-family: "Cobol-Bold", Helvetica, Arial, sans-serif;
}

.picto {
	text-align: center;
	padding-bottom: 8%;
}

.block {
	margin-top: 30px;
	max-width: 30%;
	margin-left: 3%;
}

.btn {
	background-color: #005F82;
}